<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <filter>
        <filter-name>FilterDispatcher</filter-name>
        <filter-class>sample.filters.FilterDispatcher</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>FilterDispatcher</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>sample.servlets.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DieuphoiServlet</servlet-name>
        <servlet-class>sample.servlets.DieuphoiServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>searchServlet</servlet-name>
        <servlet-class>sample.servlets.searchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchServlet</servlet-name>
        <servlet-class>sample.servlets.SearchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowSearchResultServlet</servlet-name>
        <servlet-class>sample.servlets.ShowSearchResultServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteRecordServlet</servlet-name>
        <servlet-class>sample.servlets.DeleteRecordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>java</servlet-name>
        <servlet-class>UpdateRecordServlet.java</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateRecordServlet</servlet-name>
        <servlet-class>sample.servlets.UpdateRecordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NullServlet</servlet-name>
        <servlet-class>sample.servlets.NullServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddItemServlet</servlet-name>
        <servlet-class>sample.servlets.AddItemServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveItemServlet</servlet-name>
        <servlet-class>sample.servlets.RemoveItemServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateRecordServlet</servlet-name>
        <servlet-class>sample.servlets.CreateRecordServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DieuphoiServlet</servlet-name>
        <url-pattern>/DieuphoiServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>searchServlet</servlet-name>
        <url-pattern>/searchServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchServlet</servlet-name>
        <url-pattern>/SearchServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowSearchResultServlet</servlet-name>
        <url-pattern>/ShowSearchResultServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteRecordServlet</servlet-name>
        <url-pattern>/DeleteRecordServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>java</servlet-name>
        <url-pattern>/java</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateRecordServlet</servlet-name>
        <url-pattern>/UpdateRecordServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NullServlet</servlet-name>
        <url-pattern>/NullServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddItemServlet</servlet-name>
        <url-pattern>/AddItemServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveItemServlet</servlet-name>
        <url-pattern>/RemoveItemServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateRecordServlet</servlet-name>
        <url-pattern>/CreateRecordServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <!--<welcome-file-list>
        <welcome-file>DieuphoiServlet</welcome-file>
    </welcome-file-list>-->
    <resource-ref>
        <res-ref-name>SE1167DS</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
        <res-sharing-scope>Shareable</res-sharing-scope>
    </resource-ref>
</web-app>
